OPENAI_API_KEY="YOUR OPENAI API KEY"
NPS_API_KEY="YOUR NPS API KEY"
PINECONE_API_KEY="YOUR PINECONE API KEY"
PINECONE_ENV="YOUR PINECONE ENV"
PINECONE_INDEX_NAME="nps-articles"
ARTICLE_LIMIT=5
PARK_LIMIT=75